@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary */
    --color-primary: #386641;
    --color-primary-green: #386641;
    --color-primary-greenLight: #6A8F74;
    --color-primary-greenDark: #005005;

    /* Secondary */
    --color-secondary-soil: #7F5539;
    --color-secondary-harvest: #FBC02D;
    --color-secondary-clay: #F57C00;
    --color-secondary-sky: #4FC3F7;

    /* Neutral */
    --color-neutral-surface: #F6F6F6;
    --color-neutral-border: #D9D9D9;
    --color-neutral-textLight: #9E9E9E;
    --color-neutral-textMedium: #616161;
    --color-neutral-textDark: #212121;

    /* Semantic */
    --color-semantic-success: #4CAF50;
    --color-semantic-error: #F44336;
    --color-semantic-warning: #FF9800;
    --color-semantic-info: #0275D8;

    /* Background */
    --color-background-screen: #F0F4F1;
    --color-background-card: #EBF0EC;
    --color-background-input: #FFFFFF;
    --color-background-header: #FFFFFF;

    /* Text */
    --color-text-primary: #111827;
    --color-text-secondary: #1F2937;
    --color-text-muted: #666D7B;

    /* Border */
    --color-border-default: #D9D9D9;
    --color-border-subtle: #E5E7EB;
    --color-border-card: #D1D5DB;
  }
}
